<% /* Show SweetAlert if a message exists */ %>
<% if (message && message.length > 0) { %>
  <script>
    Swal.fire({
      title: "<%= message[1] %>",
      text: "<%= message[2] %>",
      icon: "<%= message[0] %>",
    });
  </script>
<% } %>

<%
  // Default field values
  const email = data?.email ?? "";
%>

<div class="row center">
  <div class="container vcenter col-25">
    <h2 class="header">Login</h2>

    <form action="/login" method="POST" autocomplete="off">
      <!-- Email -->
      <div class="row">
        <div class="col-25">
          <label for="email">Email</label>
        </div>
        <div class="col-75">
          <input
            type="email"
            id="email"
            name="email"
            value="<%= email %>"
            required
          />
        </div>
      </div>

      <!-- Password -->
      <div class="row">
        <div class="col-25">
          <label for="password">Password</label>
        </div>
        <div class="col-75">
          <input
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
      </div>

      <!-- Submit -->
      <div class="row">
        <div class="col-25"></div>
        <div class="col-50">
          <button type="submit" class="btn primary">Login</button>
        </div>
      </div>
    </form>

    <p>
      Don't have an account?
      <a href="/signup">Sign up</a>
    </p>
  </div>
</div>
